<app-header ptitle="Make a Donation"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Donate Your Clothes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Yabo will collect your clothing donations and deliver them to a local
        non-profit supporting our community.
      </p>
      <p>
        To donate, just place your gently worn items into a paper or plastic bag
        labeled “Clothing Donation.” Your Valet will collect it during your next
        Rinse pickup or delivery and deliver it to our local charity partner.
      </p>
      <p>
        To learn which organizations your donation will support, reach out to
        <a href="mailto:care@yabo.com">care&#64;yaboclean.com</a>.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="secondary" [routerLink]="['/contactus']">
    <ion-icon name="mail"></ion-icon> Contact Us
  </ion-button>
  
</ion-content>
