<app-header ptitle="Admin Setups"></app-header>
<ion-content>
  <ion-row>
    <ion-col size="6" sizeMd="4" sizeLg="4" sizeXl="3" sizeSm="6" sizeXs="6">
      <ion-button
        fill="outline"
        color="facebook"
        type="button"
        expand="block"
        (click)="openCityPopover($event)"
        >City</ion-button
      >
    </ion-col>

    <ion-col size="6" sizeMd="4" sizeLg="4" sizeXl="3" sizeSm="6" sizeXs="6">
      <ion-button
        fill="outline"
        color="facebook"
        type="button"
        expand="block"
        (click)="openIdTypePopover($event)"
        >ID Type</ion-button
      >
    </ion-col>

    <ion-col size="6" sizeMd="4" sizeLg="4" sizeXl="3" sizeSm="6" sizeXs="6">
      <ion-button
        fill="outline"
        color="twitter"
        type="button"
        expand="block"
        (click)="openProvincePopover($event)"
        >State</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
